body {
}

div.content-wrapper {
    background-image: url('../../corona_bootstrap/images/myartplace-one-bg.jpg');
    margin: 0;
}

div.form-group label {
    font-size: 1rem;
    line-height: 1;
    vertical-align: top;
}

div.sign-up.text-center {
    margin-top: 28px;
    margin-bottom: 0px;
}

#check {
    margin-bottom: 0px;
}

#check-square {
    margin-top: 1px;
}

div.card-body {
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
}

div.card-title {
    margin-bottom: 28px;
}

.form-control {
    margin-bottom: 28px;
}

div.h5 {
    margin-bottom: 1rem;
}