@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/corona_bootstrap/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/corona_bootstrap/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/css/my_css/my_forgot_password.css" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/corona_bootstrap/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/corona_bootstrap/images/MyArtPlace_Circle_Logo.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body">
                            <h3 class="card-title text-left mb-3">@ViewData["Title"]</h3>
                            <div><h5>Enter your email.</h5></div>
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="text-center">
                                     <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                                     @*<button id="login-submit" type="submit" class="btn btn-primary btn-block enter-btn">Log in</button>*@
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/corona_bootstrap/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/corona_bootstrap/js/off-canvas.js"></script>
    <script src="~/corona_bootstrap/js/hoverable-collapse.js"></script>
    <script src="~/corona_bootstrap/js/misc.js"></script>
    <script src="~/corona_bootstrap/js/settings.js"></script>
    <script src="~/corona_bootstrap/js/todolist.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <!-- endinject -->
</body>
</html>
