@using Microsoft.AspNetCore.Identity
@using MyArtPlace.Areas.Identity.Data
@inject SignInManager<MyArtPlaceUser> SignInManager
@inject UserManager<MyArtPlaceUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link mb-0 d-none d-sm-block navbar-profile-name" asp-action="ManageUsers" asp-controller="Admin">Manage Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-0 d-none d-sm-block navbar-profile-name" asp-action="ManageCategories" asp-controller="Category">Manage Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-0 d-none d-sm-block navbar-profile-name" asp-action="ManageCurrencies" asp-controller="Currency">Manage Currencies</a>
            </li>
        }
        <li class="nav-item dropdown d-none d-lg-block">
            <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#">+ Create New Product</a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
                <h6 class="p-3 mb-0">Projects</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-file-outline text-primary"></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <p class="preview-subject ellipsis mb-1">Software Development</p>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-web text-info"></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <p class="preview-subject ellipsis mb-1">UI Development</p>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-layers text-danger"></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <p class="preview-subject ellipsis mb-1">Software Testing</p>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <p class="p-3 mb-0 text-center">See all projects</p>
            </div>
        </li>
        <li class="nav-item dropdown border-left">
            <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="true">
                <div class="navbar-profile">
                    @*<img class="img-xs rounded-circle" src="~/corona_bootstrap/images/faces/face15.jpg" alt="">*@
                    @*<p class="mb-0 d-none d-sm-block navbar-profile-name">Maxim Vanchev</p>*@
                    <p class="nav-link mb-0 d-none d-sm-block navbar-profile-name" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                <div class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-settings text-success"></i>
                        </div>
                    </div>
                        <a class="nav-link btn btn-link mb-0 d-none d-sm-block navbar-profile-name" asp-action="Settings" asp-controller="User">User Settings</a>
                </div>
                <div class="dropdown-divider"></div>
                <div class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-settings text-success"></i>
                        </div>
                    </div>
                        <a class="nav-link btn btn-link mb-0 d-none d-sm-block navbar-profile-name" asp-action="Settings" asp-controller="Shop">Shop Settings</a>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-logout text-danger"></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link mb-0 d-none d-sm-block navbar-profile-name" id="logout">Logout</button>
                        </form>
                    </div>
                </a>
            </div> @*sdfhjdhfk*@
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link mb-0 d-none d-sm-block navbar-profile-name" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mb-0 d-none d-sm-block navbar-profile-name" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
    }
</ul>
