@using MyArtPlace.Core.Models.Admin
@{

    ViewData["Title"] = "Do you want to delete this product ?";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/corona_bootstrap/plugins/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/corona_bootstrap/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/corona_bootstrap/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/corona_bootstrap/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/corona_bootstrap/css/style.css">
    <link rel="stylesheet" href="~/css/my_css/my_register.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/corona_bootstrap/images/MyArtPlace_Circle_Logo.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <div id="title">
                                <h3 class="card-title text-left mb-3">@ViewData["Title"]</h3>
                            </div>
                            @using (Html.BeginForm("DeleteProduct", "Product", FormMethod.Post))
                            {
                                <button type="submit" class="btn btn-success" id="yes" style="min-width: 200px;" asp-action="DeleteProduct" asp-controller="Product" asp-method="Post"
                                    asp-route-productId="@ViewData["ProductId"]">
                                    Yes
                                </button>
                                <a class="btn btn-danger" id="no" style="min-width: 200px;float: right;" asp-action="MyProducts" asp-controller="Product">No</a>
                            }
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/corona_bootstrap/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/corona_bootstrap/js/off-canvas.js"></script>
    <script src="~/corona_bootstrap/js/hoverable-collapse.js"></script>
    <script src="~/corona_bootstrap/js/misc.js"></script>
    <script src="~/corona_bootstrap/js/settings.js"></script>
    <script src="~/corona_bootstrap/js/todolist.js"></script>
    <script src="~/corona_bootstrap/plugins/jquery/jquery.min.js"></script>
    <script src="~/corona_bootstrap/plugins/toastr/toastr.min.js"></script>
    <partial name="_UserMessages" />
    <partial name="_ValidationScriptsPartial" />
    <!-- endinject -->
</body>
</html>